
body{
    text-align: center;
    background-color: rgb(53, 235, 196) ;
}

img{
    width: 700px;
}
div.parte1{background-color: blueviolet
    margin-left: 500px;
    margin-right: 500px;
    ;}
div.parte2{background-color: rgb(43, 103, 255);
    margin-left: 500px;
    margin-right: 500px;
}
img{
    border-color: aliceblue;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;

}
